<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns="https://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://xmlns.jcp.org/xml/ns/javaee https://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>javaProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Controller역할(@webServlet를 대행) -->
  <servlet>
  	<servlet-name>jjTest1OK</servlet-name>
  	<servlet-class>study.j1102.Test1OK</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>jjTest1OK</servlet-name>
  	<url-pattern>/j1102/test1OK</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>jjTest1OK2</servlet-name>
  	<servlet-class>study.j1102.Test1OK2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>jjTest1OK2</servlet-name>
  	<url-pattern>/j1102/test1OK2</url-pattern>
  </servlet-mapping>
  
  <!-- Filter처리(Controller 앞단에서 제어(먼저 수행) -->
  <!-- <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping> -->

<!-- 메소드(컨트롤러)들을 감시  
   <listener>
  	<listner-class>study.j1102.Test2OK</listner-class>
  </listener> 
  -->
  
  <!-- 초기값(공통변수) 설정 미리 해두기 -->
  <context-param>
  	<param-name>logoName</param-name>
  	<param-value>Java Green Company</param-value>
  </context-param>
  <context-param>
  	<param-name>homeAddress</param-name>
  	<param-value>http://192.168.50.20:9090/javaProject/study/1102_web_xml/test1.jsp</param-value>
  </context-param>
  
  
  <!-- dbcp 설정 선언 -->
  <!-- 
  <resource-ref>
  	<description>connection</description>
  	<res-ref-name>dbcp_mysql</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-outh>Container</res-outh>
  </resource-ref>
   -->
   
</web-app>